{
  "presets": [],
  "plugins": [
    "mobx-deep-action",
    "emotion",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-typescript",
    "babel-plugin-styled-components",
    "lodash",
    [
      "babel-plugin-closure-elimination",
      {
        "exclude": "/node_modules/*/"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
