{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "mobx-deep-action",
    "emotion",
    "@babel/plugin-transform-runtime",
    "lodash",
    [
      "babel-plugin-closure-elimination",
      {
        "exclude": "/node_modules/*/"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
