{
  "presets": [],
  "plugins": [
    "emotion",
    "babel-plugin-styled-components",
    "lodash",
    [
      "babel-plugin-closure-elimination",
      {
        "exclude": "/node_modules/*/"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
